<div class="container">
  <div class="col-md-12">
    <h1>Categories</h1>
    <table class="table table-hover table-responsive table-striped">
      <thead>
        <tr>
          <th class="text-center">ID</th>
          <th class="text-center">Code</th>
          <th class="text-center">Name</th>
          <th class="text-center"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let category of categories">
          <td>{{ category.id }}</td>
          <td>{{ category.code }}</td>
          <td>{{ category.name }}</td>
          <td>
            <button type="submit" class="btn btn-info btn-sm">
                <span class="fa fa-eye"></span>
                <span class="hidden-md-down">View</span>
            </button>
            <button type="submit" class="btn btn-primary btn-sm" (click)="showUpdateForm(category)">
                <span class="fa fa-pencil"></span>
                <span class="hidden-md-down">Update</span>
            </button>
            <button type="submit" class="btn btn-danger btn-sm" (click)="remove(category)">
                <span class="fa fa-remove"></span>
                <span class="hidden-md-down">Delete</span>
            </button>
          </td>
        </tr>
      </tbody>
    </table>

    <button class="btn btn-success" (click)="showAddForm()">
      <span class="fa fa-plus"></span>
    </button>
    <p>&nbsp;</p>
    <form *ngIf="newForm">
        <h2>Add new Category</h2>
        <p>ID: <input type="text" name="id" [(ngModel)]="newCategory.id" /></p>
        <p>Code: <input type="text" name="code" [(ngModel)]="newCategory.code" /></p>
        <p>Name: <input type="text" name="name" [(ngModel)]="newCategory.name" /></p>

        <p>
          <button type="button" class="btn btn-primary" (click)="save(newCategory)">Submit</button>
          <button type="button" class="btn btn-warning" (click)="cancelNew()">Cancel</button>
        </p>
    </form>
    <form *ngIf="updateForm">
        <h2>Update Category Details</h2>
        <p>ID: <input type="text" name="id" [(ngModel)]="updatedCategory.id" /></p>
        <p>Code: <input type="text" name="code" [(ngModel)]="updatedCategory.code" /></p>
        <p>Name: <input type="text" name="name" [(ngModel)]="updatedCategory.name" /></p>

        <p>
          <button type="button" class="btn btn-primary" (click)="update(updatedCategory)">Submit</button>
          <button type="button" class="btn btn-warning" (click)="cancelUpdate()">Cancel</button>
        </p>
    </form>
  </div>
</div>

