<div class="card card-block">
  <h4 class="card-title">Create Currency</h4>
  <div class="form-group">
    <input type="text"
           class="form-control"
           placeholder="Enter the code"
           #code>
  </div>
  <div class="form-group">
    <input type="text"
           class="form-control"
           placeholder="Enter the rate"
           #rate>
  </div>
  <button type="button"
          class="btn btn-primary"
          (click)="createCurrency(code.value, rate.value)">Create</button>
</div>