<div class="navigation-bar">
    <ul class="nav nav-tabs">
    <li role="presentation" class="active"><a href="#">Currencies</a></li>
    <li role="presentation"><a href="#">Categories</a></li>
    <li role="presentation"><a href="#">Persons</a></li>
    </ul>
</div>

<div class="action-bar">
	<div [ngSwitch]="showDiv" >
	  <div *ngSwitchCase="true">
		<currency-form (currencyCreated)="addCurrency($event)"></currency-form>
	  </div>
      <div *ngSwitchDefault>
          <button type="button" class="btn btn-primary" aria-expanded="false" (click)="showDiv = !showDiv">Create New Currency</button>
      </div>
</div>

<div class="currency-list">
    <table class="table table-hover table-responsive">
        <tr>
            <th>Code</th>
            <th>Rate</th>
        </tr>
        <tr *ngFor="let currency of currencies">
            <td>{{currency.code}}</td>
            <td>{{currency.rate}}</td>
        </tr>
    </table>
</div>
