<div>
  <md-content class="md-padding" layout-xs="column" layout="row">
    <div flex-xs flex-gt-xs="50" layout="column">
      <!--<md-card md-theme="{{ showDarkTheme ? 'dark-grey' : 'default' }}" md-theme-watch>-->
      <md-card md-theme="default" md-theme-watch>
        <md-card-title>
          <md-card-title-text>
            <span class="md-headline">{{currency.code}}</span>
            <span class="md-subhead">{{currency.rate}}</span>
          </md-card-title-text>
          <!--<md-card-title-media>
            <div class="md-media-lg card-media"></div>
          </md-card-title-media>-->
        </md-card-title>
        <md-card-actions layout="row" layout-align="end center">
          <md-button>Back</md-button>
        </md-card-actions>
      </md-card>
    </div>
  </md-content>
</div>